:root {
  //Theme
  --primary: 72, 163, 166;
  --default-background: 207, 207, 207;
  --default-text: 44, 62, 80;

  //Basic
  --transparent: transparent;
  --black: 0, 0, 0;
  --white: 255, 255, 255;

  //Red
  --red: 255, 0, 0;
  --red-dark: 139, 0, 9;
  --red-light: 220, 20, 60;
}
