.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.main-title, .h1 {
  font-size: 2.5rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 640px) {
    font-size: 3.3rem;
  }
}

.title, .h2 {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 640px) {
    font-size: 1.9rem;
  }
}

.subtitle, .h3 {
  font-size: 1.2rem;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 640px) {
    font-size: 1.4rem;
  }
}

.h4 {
  font-size: 1.1rem;
  margin: 1rem;
  text-align: center;
}

.paragraph {
  margin: 1rem;
}
